:root {
  --background: #222;
  --color: #eee;

  --primary: #1ad743;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background: var(--background);
  color: var(--color);
}