.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  width: 100%;
  align-items: center;
}

.title {
  font-size: 2rem;
  transform: scale(0);
  animation: show 0.2s 0.35s forwards;
}

.skills {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 1.5rem 0;

  i {
    font-size: 2.5rem;

    &:nth-child(1) {
      transform: scale(0);
      animation: show 0.2s 0.4s forwards;
    }

    &:nth-child(2) {
      transform: scale(0);
      animation: show 0.2s 0.45s forwards;
    }

    &:nth-child(3) {
      transform: scale(0);
      animation: show 0.2s 0.5s forwards;
    }

    &:nth-child(4) {
      transform: scale(0);
      animation: show 0.2s 0.55s forwards;
    }

    &:nth-child(5) {
      transform: scale(0);
      animation: show 0.2s 0.6s forwards;
    }
  }
}

.more {
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
  transform: scale(0);
  animation: show 0.2s 0.65s forwards;

  &:active {
    transform: scale(1.2);
  }
}

@keyframes show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}