.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  width: 100%;
  align-items: center;
  gap: 1.5rem;
}

.title {
  font-size: 2rem;
}

.skills {
  display: flex;
  width: 100%;
  font-size: 2.5rem;
  justify-content: space-evenly;
}

.more {
  font-size: 2rem;
  user-select: none;
  cursor: pointer;

  &:active {
    transform: scale(1.2);
  }
}
