.container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1.5rem;
    margin: 1.2rem 0;

    h1 {
        font-size: 1.2rem;
        margin-right: 1rem;
    }

    div {
        height: 1px;
        background: var(--content-2);
        flex-grow: 1;
    }
}