:root {
  --content-1: #d8e3d8;
  --content-2: #006437;
  --content-3: #656464;
  --content-4: #00AD49;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

body {
  background: var(--content-1);
  color: var(--content-2);
}

.flickity-page-dots {
  bottom: -3rem !important;
}

.flickity-page-dots .dot {
  border-radius: 0px;
  border: 0.2rem solid var(--content-2);
  width: 1rem !important;
  height: 1rem !important;
  background: transparent !important;
  opacity: 1 !important;
  border-radius: 0px !important;

  @media screen and (min-width: 800px) {
    border: 0.2rem solid var(--content-4);
  }
}

.flickity-page-dots .dot.is-selected {
  background: var(--content-2) !important;

  @media screen and (min-width: 800px) {
    border: 0.2rem solid var(--content-4);
    background: var(--content-4) !important;
  }
}
